name: Release Drafter

on:
  pull_request_target:
    types: [opened, reopened, synchronize, edited, labeled, unlabeled, closed]
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

concurrency:
  group: release-drafter
  cancel-in-progress: true

jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      - name: Draft release notes
        uses: release-drafter/release-drafter@b1476f6e6eb133afa41ed8589daba6dc69b4d3f5 # v6.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
